* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --div-x-offset: 0px;
    --div-y-offset: 0px;
    --circle-scale: 1000;
    --dot-x-offset: -100px;
    --dot-y-offset: -100px;
    --primary-color: hsl(157, 53%, 51%);
    --secondary-color: hsl(9, 53%, 51%);
    --tertiary-color: hsl(230, 53%, 51%);
    --light-color: white;
    --dark-color: black;
    --background-color-one: black;
    --background-color-two: white;
    --o-zoom-factor: 1;
    --growing-polygon: polygon(0 0, 0 0, 0 0, 0 0);

}
body {
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
}
h1 {
    color: white;
    transition: all 500ms ease;
    cursor: pointer;
}
#expanded-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100vh;
    clip-path: circle(0 at var(--dot-x-offset) var(--dot-y-offset));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events:none;
    
}
#expanded-content[data-delayedtransition="true"] {
    transition: clip-path 800ms ease-in;
}
#expanded-content[data-delayedtransition="fast"] {
    transition: clip-path 200ms ease-in-out;
}
#expanded-content[data-peek="true"] {
    clip-path: circle(1rem at var(--dot-x-offset) var(--dot-y-offset));
}
#expanded-content[data-visible="true"] {
    clip-path: circle(calc(2px * var(--circle-scale)) at var(--dot-x-offset) var(--dot-y-offset));
    pointer-events: auto;
}
svg#expanding-i {
    height: 0.8em;
    width: auto;
    margin: 2px;
    margin-bottom: 0;
    transform: translateY(1px)
}
.square {
    width: 500px;
    height: 500px;
    background-color: var(--secondary-color);
}
.flying-dot {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    filter: blur(10px);
    z-index: 5;
}
#zoomed-content-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--tertiary-color);
}
#zoomed-content-container[data-status="active"] {
    opacity: 100;
}

h1 {
    white-space: nowrap;
}
#home-container {
    transition: transform 1000ms ease-in;
}
#home-container[data-zoomed="true"] {
    transform: translate(var(--div-x-offset), var(--div-y-offset)) scale(var(--o-zoom-factor));
}
#home-container[data-status="inactive"] {
    pointer-events: none;
    display: none;
}
#zoomed-div {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: white;
    transition: transform 1000ms linear;
    transform: scale(0);
}
#zoomed-div[data-status="active"] {
    transform: scale(1);
}
svg#zoom-svg-o {
    height: 0.8em;
    width: 0.8em;
    transform: translateY(20%);
}
svg#zoom-svg-o > circle{
    fill:var(--tertiary-color);
}


#zoomed-grid {
    display: grid;
    padding: 10rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (2, 1fr);
    gap: 2rem;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    transition: transform 1000ms cubic-bezier(.99,.03,.94,.6);
}
#zoomed-grid[data-status="inactive"] {
    transform: scale(0);
}

.grid-item {
    width: 60%;
    aspect-ratio: 1;
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
    z-index: 6;
}
.grid-item:nth-child(1) {
    background-color: var(--dark-color);
    width: 50%;
}
.grid-item:nth-child(2) {
    background-color: var(--light-color);
    width: 65%
}
.grid-item:nth-child(3) {
    background-color: var(--primary-color);
    
}
.grid-item:nth-child(4) {
    background-color: var(--secondary-color);
    width: 55%
}

.arriving-dot {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 1000ms cubic-bezier(.99,.03,.94,.6);
    filter: blur(10px);
    z-index: 5;
}
.arriving-dot[data-status="inactive"] {
    transform: translate(-50%, -50%) scale(0);
}
#growing-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    clip-path: var(--growing-polygon);
}
#growing-content[data-transition="fast"] {
    transition: clip-path 300ms ease-in;
}
#growing-content[data-transition="slow"] {
    transition: clip-path 700ms ease-in;
}
#underline-h1[data-clickable="false"] {
    pointer-events: none;
}
#matrixing-h1 {
    transition: all 400ms ease-in;
}
#matrix-content {
    background-color: white;
    position: absolute;
    transition: all 400ms ease-in;

}



@keyframes dot-drift {
    0% {transform: translate(0, 0)}
    30% {transform: translate(25%, 25%)}
    60% {transform: translate(-36%, -10%)}
    100% {transform: translate(0, 0)}
}